/.idea
/debug.log
/__pycache__
/MAIN/__pycache__
/API/__pycache__
/API/migrations/__pycache__
/MAIN/migrations/__pycache__
/FileManager/__pycache__
/MAIN/storage_client/__pycache__
/MAIN/storage_client/tmp
