@import '~antd/dist/antd.css';
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif,
 "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.imageformitem  > .ant-form-item-label > .ant-form-item-required{
  line-height: 100px;
}

.avatar {
  width: 100px;
  height: 100px;
}

.hidden { display:none; }

.ant-card-head-title{
  font-weight: bolder;
}
